.dialogOverlay {
  background-color: rgba(0, 0, 0, 0.44);
  position: fixed;
  z-index: 30;
  inset: 0;
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.dialogContent {
  background-color: #fff;
  border-radius: 6px;
  box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px, hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  position: fixed;
  z-index: 40;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  max-width: 450px;
  max-height: 85vh;
  padding: 24px;
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}
.dialogContent:focus {
  outline: none;
}

.dialogHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  .dialogTitle {
    margin: 0;
    font-weight: 700;
    color: var(--violet-700);
    font-size: 20px;
  }

  button {
    background-color: #dedeed;
    border: none;
    padding: 4px;
    display: flex;
    border-radius: 4px;
    transition: background-color 300ms;

    &:hover {
      cursor: pointer;
      background-color: #c5c5d3;
    }
  }
}

.button {
  border-radius: 4px;
  padding: 0 15px;
  font-size: 16px;
  line-height: 1;
  font-weight: 700;
  height: 35px;
  background-color: var(--violet-700);
  color: #ffffff;
  border: none;

  &:hover {
    filter: brightness(1.2);
    cursor: pointer;
  }

  &:focus {
    box-shadow: 0 0 0 2px var(--violet-300);
  }
}

.dialogMainContent {
  margin-bottom: 40px;

  fieldset {
    display: flex;
    flex-direction: column;
    gap: 8px;
    border: none;
  }

  label {
    font-size: 15px;
    color: var(--violet-600);
  }

  input {
    width: 100%;
    border-radius: 4px;
    border: none;
    padding: 0 10px;
    font-size: 15px;
    line-height: 1;
    box-shadow: 0 0 0 1px #dedeed;
    height: 35px;
  }
  input:focus {
    box-shadow: 0 0 0 2px var(--violet-700);
    outline: none;
  }
}

.dialogActinoButtons {
  display: flex;
  justify-content: flex-end;
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
