.container {
  width: 100%;
  background: var(--purple-500);
  color: #ffffff;
  font-weight: 700;
  padding: 16px 24px;
  border: none;
  border-radius: 4px;

  transition: background 300ms;
  &:hover {
    background: var(--purple-400);
  }
}
