:export {
  highlightColor: var(--highlight);
  graphicElements: lighten(#94a3b8, 20);
}

.container {
  flex: 1;
}

.buttonsContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 14px;
  padding-left: 60px;

  button {
    background-color: transparent;
    padding: 4px 8px;
    font-size: 14px;
    border: none;
    border-radius: 24px;
    cursor: pointer;

    &.active {
      color: #ffffff;
      background-color: var(--highlight);
    }

    &:disabled {
      opacity: 0.7;
      cursor: not-allowed;
    }
  }

  @media screen and (max-width: 425px) {
    padding-left: 40px;

    button {
      font-size: 12px;
    }
  }
}

.customTooltip {
  font-size: 14px;
  background-color: #ffffff;
  padding: 8px;
  border-radius: 4px;
  box-shadow: 0px 4px 16px rgba(15, 23, 42, 0.15);
}
