.container {
  outline: 1px solid var(--graphic-elements);
  border-radius: 8px;
  display: flex;
  align-items: center;
  width: 100%;

  &:focus-within {
    outline-color: var(--highlight);
    outline-width: 2px;
  }

  & > * + *::before {
    content: '';
    background-color: var(--graphic-elements);
    width: 2px;
    height: 24px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  .inputContainer {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 0 16px;
  }

  input {
    border: none;
    outline: none;
    appearance: none;
    display: block;
    padding: 16px 0;
    width: 100%;
    flex: 1;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number] {
    -moz-appearance: textfield;
  }
}
