* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black: #1f1f1f;
  --gray: #707070;
  --light-gray: #adadad;
  --purple: #633BBC;
}

html, body {
  min-height: 100vh;
}

body {
  background: linear-gradient(167.96deg, #8257E5 0%, #271A45 100%);
  color: var(--black);
  font-family: 'Rubik', sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

strong {
  font-weight: 500;
}

img {
  display: block;
  max-width: 100%;
}

main {
  --spacing: 20px;
  
  min-height: 100vh;
  max-width: calc(327px + var(--spacing) * 2);
  padding: var(--spacing);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

main > h1 {
  color: #FFFFFF;
  font-weight: 500;
  font-size: 20px;
}

main > p {
  color: #FFFFFF;
  text-align: center;
}

.card {
  width: 100%;
  max-width: 327px;
  border-radius: 24px;
  overflow: hidden;
  filter: drop-shadow(0px 4px 24px rgba(0, 0, 0, 0.25));
}

.card > * + * {
  border-top: 1px dashed var(--light-gray);
  position: relative;
}

.card > * + *::before,
.card > * + *::after {
  content: '';
  width: 24px;
  height: 24px;
  background-color: #573a99;
  border-radius: 50%;
  position: absolute;
}

.card > * + *::before {
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
}

.card > * + *::after {
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
}

.card__header {
  background-color: #FFFFFF;
  padding: 24px 32px;
}

.card__header .check-in__date {
  display: flex;
  justify-content: space-between;
}

.card__header .check-in__date div:last-child {
  text-align: end;
}

.card__header .check-in__date p {
  font-size: 14px;
  color: var(--gray);
}

.card__header .check-in__travel {
  position: relative;
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
}

.card__header .check-in__travel div:last-child {
  text-align: end;
}

.card__header .check-in__travel svg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.card__header .check-in__travel p {
  font-size: 14px;
  color: var(--gray);
}

.card__header .check-in__travel strong {
  font-size: 40px;
  display: block;
}

.card__header .check-in__travel sup {
  font-size: 10px;
  font-weight: 500;
}

.card__body {
  background-color: #FFFFFF;
  padding: 24px 32px;
  display: flex;
  justify-content: space-between;
}

.card__body div:last-child {
  text-align: end;
}

.card__body p {
  font-size: 14px;
  color: var(--gray);
}

.card__footer {
  background-color: #FFFFFF;
  padding: 24px 32px;
  
}

.card__footer .check-in__info {
  display: flex;
  justify-content: space-between;
}

.card__footer .check-in__info p {
  font-size: 14px;
  color: var(--gray);
}

.card__footer .check-in__info span {
  margin-top: 2px;
  display: inline-block;
  padding: 4px 8px;
  border-radius: 8px;
  background-color: var(--purple);
  color: #FFFFFF;
  font-weight: 500;
}

.card__footer .check-in__info__data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}

.card__footer .check-in__info__code {
  text-align: center;
}

.card__footer .check-in__info__code p {
  letter-spacing: -0.02em;
  display: inline-block;
}

.card__footer__info {
  margin-top: 24px;
  text-align: center;
}

@media screen and (max-width: 425px) {
  .card > * {
    border-radius: 24px;
  }
  
  .card > * + *::before,
  .card > * + *::after {
    display: none;
  }
}
